@import "~bootstrap/scss/bootstrap";
@import "../../../sass/variables";

.messages-content {
  height: $main-container-height;

  .messages-topbar {
    height: $messages-topbar-height;
    margin: 0;
    padding: 0;
  }
  .messages-list {
    height: $messages-list-height;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .messages-input {
    height: $messages-input-height;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
